@use "sass:map";

.search-form {
  position: relative;
  width: 100%;
  max-width: rem-calc(640px);
  margin: 0 5% 0 auto;

  &__form-group {
    position: relative;
    @include media-breakpoint-up(md) {
      .search-result-open & {
        z-index: 101;
      }
    }
  }

  &__input {
    height: rem-calc(42px);
    padding: 0 rem-calc(24px) 0 rem-calc(50px);
    line-height: rem-calc(42px);
    color: $gray-900;
    border: none;
    border-radius: 10px;

    &:focus {
      background: $gray-100;
      box-shadow: none;
    }

  }

  &__btn {
    position: absolute;
    top: 50%;
    left: rem-calc(16px);
    width: rem-calc(20px);
    height: rem-calc(20px);
    padding: 0;
    line-height: 1;
    color: $gray-700;
    background: transparent;
    border: 0;
    transform: translateY(-50%);
  }

  &__icon-svg {
    display: block;
    width: rem-calc(18px);
    height: rem-calc(18px);
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.search-modal {
  .modal-body {
    padding-top: rem-calc(40px);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem-calc(7px) rem-calc(10px);
  }
}
